Header set Access-Control-Allow-Origin 'origin-list'
Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Headers "origin, x-requested-with, content-type"
Header add Access-Control-Allow-Methods "PUT, GET, OPTIONS"

DirectoryIndex index.html

ErrorDocument 400 https://magictendo.github.io/GithubPages
ErrorDocument 401 https://magictendo.github.io/GithubPages
ErrorDocument 403 https://magictendo.github.io/GithubPages
ErrorDocument 404 https://magictendo.github.io/GithubPages
ErrorDocument 500 https://magictendo.github.io/GithubPages
ErrorDocument 503 https://magictendo.github.io/GithubPages
